
body{
  margin: 0 auto;
  width: 75%;
} 

.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 7fr 5fr;
  grid-template-rows: 1fr 1fr 7fr auto; 
  grid-template-areas: 
  "bouncer_logo bouncer_logo"
  "bouncer_image  choice"
  "bouncer_image  form"
  "footer footer ";
  grid-gap: 1rem;
  font-family: sans-serif;
 
} 

#bouncer_logo{
  /* background: greenyellow; */
  padding-top: 20px;
  grid-area: bouncer_logo 
}

#bouncer_image{
  /* background: yellow; */
  grid-area: bouncer_image 
}

#choice{
  /* background: pink; */
  padding: 40px;
  grid-area: choice 
}

#form{
  /* background: blue; */
  padding:  30px ;
  grid-area: form 
}

#footer{
  /* background: rgb(87, 37, 180); */
  grid-area: footer; 
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgb(241, 243, 244);
    border-radius: 4px;
    box-sizing: border-box;
  }

button {
    background-color: rgb(255, 72, 88);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid rgb(255, 72, 88);
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

button:hover {
    opacity: 0.8;
  }

.form-components {
  color: rgb(34, 38, 42);
  padding: 10px;
}

.psw{
    float: right;
  }

.pss{
    float: right;
    color: rgb(51, 160, 255);
  }
.active{
  border-bottom: 3px solid rgb(255, 72, 88);
}

a{
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 72, 88);
}

a:focus {
  color: rgb(25, 80, 127);
}




@media screen and (max-width: 900px) {
  .container{
      display: grid;
      height: 100vh;
      grid-template-columns: 2fr;
      grid-template-rows: 0.2fr 0.2fr 5fr auto; 
      grid-template-areas: 
      "bouncer_logo"
      "choice"
      "form"
      "footer footer ";
      font-family: sans-serif;
      grid-gap: 10px; 
  }
}



@media screen and (max-width: 450px) {
  .container{
      display: grid;
      height: 100vh;
      grid-template-columns: 4fr;
      grid-template-rows: 0.1fr 0.1fr 2fr auto; 
      grid-template-areas: 
      "bouncer_logo"
      "choice"
      "form"
      "footer footer ";
      font-family: sans-serif;
      font-size: 70%;
  }
}

 
